name: github-snake

on:
  schedule:
    - cron: '0 0 * * *' # runs daily
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Generate Snake
        uses: platane/snk@main   # â† Use 'main' instead of v1.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

